<div class="boat-create">	
	<%= form_for Boat.new do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :containers %>
		<%= f.text_field :containers %>
		<%= f.label :location %>
		<%= f.text_field :location %>
		<% @me = current_user.id %>
		<%= f.hidden_field :user_id, value: @me %>
		<%= f.file_field :avatar %>
		<%= f.submit "Add boat" %>
	<%end%>
</div>

<% @boat.reverse.each do |boat| %>
	<div class="boat-list">
	<%= link_to boat.name,  boat_path(boat) %>
	<br> 
	</div>
<% end %>