	<% @jobs.reverse.each do |job| %>
		<div class="job-list">
			<%= link_to job.name,  job_path(job) %>
			<br> 
	</div>
<% end %>
</div>
<div class="left">	
	<div class="boat-show">
		<%= image_tag @boat.avatar.url(:medium) %>
		<h1> Name: <%= @boat.name %> </h1> 
		<br>
		<h1>Containers: <%= @boat.containers %> </h1> 
		<h1>Location <%= @boat.location %> </h1> 
		<br>
		<%= link_to "go back", boats_path%> 
		<br>
		<br>
		<%= link_to "Edit", edit_boat_path%> | <%= link_to "Delete the boat", boat_path(@boat), method: :delete %>
		<br>
		<% if !@follow %>
		  <%= button_to 'Follow', {controller: "followers", action: "create", boat_id: params[:id]}, data: { confirm: 'are you sure you want to follow this boat' }, remote: true %>
		<% else %>
		  <%= button_to 'Unfollow', follower_path(@follow), method: :delete, remote: true %>
	<% end %>
	</div>
</div>
<br>
<div class="job-create">
	<%= form_for Job.new do |f| %>
		<%= f.label :name %><br>
		<%= f.text_field :name %><br>

		<%= f.label :containers, "# of Containers Required" %><br>
		<%= f.text_field :containers %><br>

		<%= f.label :origin %><br>
		<%= f.text_field :origin %><br>

		<%= f.label :cargo %><br>
		<%= f.text_area :cargo %><br>

		<%= f.label :destination %><br>
		<%= f.text_field :destination %><br>

		<%= f.label :cost %><br>
		<%= f.text_field :cost %><br>

	  <%= f.hidden_field :user_id, value: current_user.id %><br>
	  <%= f.hidden_field :boat_id, value: @boat.id %><br>
	  <%= f.submit %><br>
	<% end %>
</div>



