<!DOCTYPE html>
<html>
<head>
  <title>ShippingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav-bar">
	<%= link_to "Home",  boats_path %> <%= link_to "Boats list",  jobs_path %> <%= link_to "Following",  followers_path %> <span><%= link_to "Logout",  destroy_user_session_path, method: :delete %></span>
</div>

<%= yield %>

</body>
</html>
